@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Carter One",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Home  */
.container {
  background: url("./assets/img/cafe_bg.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  font-weight: 1000;
  width: 300px;
  font-family: "Mountains of Christmas",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.item {
  @apply h-3/4 w-1/4 rounded-lg grid p-5 text-black;
  grid-template-rows: auto 1fr;
  background: linear-gradient(135deg ,rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.3));
}

.item h2 {
  @apply text-5xl h-fit w-60 flex items-center justify-center text-white p-4 rounded-full;
  font-weight: 1000;
  filter: drop-shadow( 0 0 5px black)
}

.item-header {
  @apply w-full flex justify-center items-center;
}

.list {
  @apply p-4 text-3xl gap-2 items-center flex flex-col;
}

.list-item {
  @apply bg-white rounded-full p-3 w-56 text-center hover:text-white hover:bg-black ;
  transition: 0.1s;
  &:hover {
    box-shadow: 0 0 5px white, 0 0 10px white;
    scale: 1.1;
  }
}


/* Items  */
.item-container {
  @apply h-screen w-screen flex justify-center items-center flex-col bg-slate-300 text-black;
}

.item-container-elements {
  @apply h-full w-full flex justify-center items-center flex-col p-28 gap-2;
}

.dish-holder {
  @apply flex justify-center items-center gap-7 h-full w-full;
}

.dish {
  @apply w-2/4 h-full bg-white flex p-3 items-center flex-col hover:scale-110;
  transition: 0.1s;
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 0 15px rgba(0, 0, 0, 0.7), 0 0 25px rgba(0, 0, 0, 0.7), 0 0 50px rgba(0, 0, 0, 0.7);
  }
}

.dish img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.dish-info {
  @apply flex justify-center items-center text-xl;
  height: 10%;
}